@import "_variables.styl"

body
  margin 0
  padding 0

.container
  width 100%
  height 50px
  background #729FCF
  display flex
  align-items center
  justify-content center
  margin 0px auto 10px
  font-size title
  
.btn
  background white
  color black
  border-radius 5px
  margin 10px

  &-alert
    background red
    color white

  &-warn
    background orange
    color white

  &-info
    background lightblue
    color white

.btn--red
  border none
  width 100px
  height 40px
  
/*Mixin*/

mixin-cuado()
  display inline-block
  width 50px
  height 50px
  border none
  margin 10px
  
.cuadro1 
  mixin-cuado()
  background #CC0000FF

.cuadro2 
  mixin-cuado()
  background #097B37FF
  
/*Mixin parametrico*/
mixin-buton(w = 250px, h = 55px)
  width w
  height h
  color #ccc000
  
.boton1 
  mixin-buton()

.boton2 
  mixin-buton(100px, 20px)
  
/*Funciones*/

.div
  height alto*2  /*alto=2px*/
  
/**/
[class^="item"]
  border none
  display flex
  flex-wrap wrap
  
cantidad = (1..5)

for i in cantidad
  .item-{i}
    background #cc0000
    

alumnos= (0..8)
for i in alumnos    
     .nota-{i}
     .nota-{i}        
          &:after
          &:after            
               content: \"i\"