.container
  width 100px
  height 100px
  background #729FCF
  display flex
  margin 10px auto
  
.btn
  background white
  color black
  border-radius 3px

  &-alert
    background red
    color white

  &-warn
    background orange
    color white

  &-info
    background lightblue
    color white
