.btn {
  display: inline-block;
  color: $buttoncolor;
  background-color: $buttonbackgroundcolor;
  line-height: 2.5;
  border-radius: $border-radius;
  font-size: $btn-font-size;
  &__icon {
    font-size: 0.6em;
  }
  &--info {
    background-color: $color-info;
  }
}

