<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ruby</title>
</head>
<body>
  <h1>Hola Ruby</h1>
  <h2> <%= @mensaje %> </h2>
  <br/>
  <h3>Mi codigo Ruby: < %= 2+3 % > => <%= 2+3 %> </h3>
  <!-- usamos la clase erb para agregar codigo Ruby aqui. -->
  

</body>
</html>