.nav 
  width: 100vw
  height: 60px
  background-color: #3465A4
  display: flex
  justify-content: center
  align-items: center
  font-size: 24px
  color: white
  font-weght: bold
  
.row
  display: flex;
  justify-content: center
  margin: 25px auto

img
  height: 200px
  margin: 40px
  
#webpack
  margin: 0
  height: 250px
  
.miboton
  background-color: red
  width: 300px